{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
    <h1><a href="{% url 'home' %}">Blog</a></h1>
    <h2><a href="{% url 'post_new' %}">Yangi post qo'shish</a></h2>
    <hr>
    </header>
        {% if user.is_authenticated %}
            <p>Xush kelibsiz, {{ user.username }}</p>
            <p><a href="{% url 'logout' %}">Chiqib ketish</a></p>
        {% else %}
            <p>
                <a href="{% url 'login' %}">Saytga kirish</a> |
                <a href="{% url 'signup' %}">Ro'yhatdan o'tish</a>
            </p>

        {% endif %}
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>